@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    background-color: #e2f3ff;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

h1 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1150px;
}

.array {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px 0;
    width: 100%; /* Full width of the container */
    height: 350px; /* Fixed height */
    border: 2px solid #000000; /* Optional: Add a border for better visibility */
    background-color: #fff; /* Optional: Add a background color */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a shadow */
    border-radius: 10px 10px 0 0;
}

.bar {
    width: 45px;
    margin: 0 4px;
    background-color: #3498db;
    position: relative;
    transition: height 1s ease, transform 1s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px 5px 0 0;
}

.bar.sorted {
    background-color: #2ecc71;
}

.label {
    position: absolute;
    top: -20px;
    width: 100%;
    text-align: center;
    color: #333;
    font-size: 12px;
}

.button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #2980b9;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #00416d;
}

.button:hover {
    background-color: #1abc9c;
    border: 2px solid #047a63;
}

.instructions {
    text-align: center;
    margin-top: 20px;
    color: #555;
}

.button.active {
    background-color: #e74c3c;
    border: 2px solid #741409;
}

.bar.moving {
    background-color: #e74c3c;
}

.controls{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.user-input {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -10px;
}

.values-input-box {
    padding: 8px;
    margin: 5px;
    border: 2px solid #2980b9;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s;
    width: 300px;
}

.values-input-box:focus {
    border-color: #1abc9c;
    outline: none;
}

.button.disabled {
    background-color: #ccc;
    border: 2px solid #999;
    cursor: not-allowed;
}

#current-algorithm span {
    font-weight: bold;
    color: #054f81;
}

.input-box {
    padding: 8px;
    margin: 5px;
    border: 2px solid #2980b9;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: border-color 0.3s;
    width: 40px;
}

.input-box:focus {
    border-color: #1abc9c;
    outline: none;
}

.stop-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #e74c3c;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #741409;
}

.stop-button:hover {
    background-color: #741409;
    border: 2px solid #741409;
}

.set-button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: #37ac1a;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border: 2px solid #237210;
}

.set-button:hover {
    background-color: #237210;
    border: 2px solid #237210;
}